div#container{
    display: flex;
    flex-wrap: wrap;
}
div#searchForm{
text-align: center;
height: 300px;
padding: 20px;
height:fit-content;
background-color:cornflowerblue;
}
#searchBtn{
border-radius: 5px;
border: 0px;
}

.card{
   margin: 20px;

}
div#info{
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%) scale(0);
    z-index: 100;
    background-color:white;
    margin: 25px;
    border: 1px black solid;
    border-radius: 10px;
    max-width: 80%;
}
#info.active {
    transform: translate(-50%, -50%) scale(1);
    /* background-repeat: no-repeat; */
    background-size :cover;
   
  }
  
div#infoHeader{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
div#infoHeader #close{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
div#infoBody{
    padding: 10px 15px;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }